/* Setting the variables */
:root {
    --main-color: #f2f0ef;
    --main-head-color: rgb(176, 176, 252);
    --main-foot-color: rgb(151, 149, 149);
    
  }

* {
    box-sizing: border-box;
}
/* Choosing the color on the background by the appropriate variable. Also we chose margin=0 in order to avoid gaps between header and main. */
/* Added flex so we can stick the footer at the bottom - P*/
body {

    background-color: var(--main-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}



/*Choosing the background color of the header by the appropriate variable. The position is relative and we don't want to change the layout around it.
We also chose fonts. */
header {
    
    background-color: var(--main-head-color);
    padding: 1em;
    position: relative;
    font-family: 'Roboto',sans-serif;
    font-size: 14pt;
    width: 100%;
    
}

/*Choosing the background color of the header by the appropriate variable. The position is absolute because we want it to stay in a specific position 
based on the content of each page. We also chose fonts. */
/* With the use of flex we replace the position attribute and made the footer to stick on the bottom of the page - P*/
footer {
   
    background-color: var(--main-foot-color);
    font-family: 'Roboto',sans-serif;
    font-size: 14pt;
    margin-top: 1em;
    width: 100%;
    /* clear: left; */
    
}



/* Links */
a {
    font-family: sans-serif;
    font-size: 13pt;
    right: 2em;    
}

/* selected link */
a:active{
    background-color: green;
  }

  /* unvisited link */
a:link {
    color: blue;
}
  
  /* visited link */
a:visited {
    color: purple;
}

  /*hover link*/
a:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Quotes are written in our font which we found online and are located in the center. */
.quote {
    text-align: center;
    font-family: myFont;
    font-size: 25pt;
}



/* Any h3 uses Arial font and underline lightblue decoration */
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    text-decoration: underline;
    text-decoration-color: rgb(9, 183, 236);
    
}




/* The navigation menu in the first page is an order list located in the left side of our page. */
/* Changed margin and padding and border width. Added backround colour. - P*/
.menu{
    border-width: 0.1em;
    border-style:solid;
    border-color: black;
    background-color: rgba(202, 136, 136, 0.548);
    margin-top: 1em;
    /* margin-left: -5px;
    margin-right: 105em; */
    padding: 0.7em;
    width: 100%;
}

/* Made space between listings */
.menu > ol > li {
    padding-bottom: 4.5em;
}

.main {
    width: 100%;
    /* margin: 5em;
    margin-left: 5em;
    margin-right: 5em; */
}

/* Specific section where is our welcoming message written in italic. */
/* Changed margin and added text align - P*/
#intro {
    font-family: 'Roboto';
    font-size: 15pt;
    font-style: italic;
    color:rgb(134, 64, 64);
    text-align: center;
    margin: 0.5em;
}

/* The aside menu is located in a specific location on our page,in the right side and that's why we used the absolute position.
We have color in the border and in the content. */
/* No need of position anymore because of grid - P*/
aside {
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(104, 28, 28);
    background-color: #e9cdcd70;
    padding: 1em;
    margin-top: 1em;
    width: 100%;
    font-family: sans-serif;
    font-size: 10pt;
}

/* Border color and style of the search bar */
div input {
    border-color: black;
    border-style:groove;
    border-radius: 6px;

}



/* We used float:left because we wanted our content to be positioned and formatted with images and letters. */
dl dt img {
    float: left;
    padding: 8px;
   
}

 /* The courses' title are written in Roboto with bold weight font.   */
dl dt {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

 /* The short description of each course is written in Times New Roman */
dd p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: gray;
}



 /* Another one font which we found only, used in the unorder list about what we are going to learn in each course.  */
dd ul li {
    font-family: myFont2;
    font-size: 12pt;
    color: black;
    
}

/* .main ul {
    margin: 8px;
} */



/* Form. The font of all fields is Roboto and the size is 12pt.*/
form {
    margin: 4em;
    border: 3px solid #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;

}



/* Styling the form's fields. */
form input  {
    border-color: grey;
    border-style:ridge;
    border-radius: 6px;

}

/* The upload field is the only field in the form without border. */
#upload_file > input {
    border-style: hidden;
}

/* Text area is located on the left,the background is white. */
textarea { 
    height: 180px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: vertical;
    width: 148px;
    
}


/* The select option for the drop-down menu about countries. The border-style is groove. */
select {
    padding: 6px;
    width: 12em;
    border-style:groove;
    border-radius: 2px;
    background-color: #f1f1f1;
}

  
/* We created a button using a picture of an arrow and the cursor becomes pointer when we hover. */
button {
    background-color:rgb(199, 34, 34);
    color: white;
    padding: 10px;
    margin: 4px;
    cursor: pointer;
    
}

/* The avatars in About_Us page, are located on the left because we wanted our content to be positioned and formatted with images and letters. */
.profile_picture{
    float: left;
    padding: 2px;
    
}


/* Our names in About_Us.  */
article > h2  {
    font-family: myFont;
    font-size: 24pt;
}

/* Titles after our names.  */
article > h2 + p   {
    font-family:'Courier New', Courier, monospace;
    font-size: 10pt;
}

.cv {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    color: black;
   
   
}

#details {
    margin: 2em;
}

.subj_areas {
    margin: 2em;
}

/* Login and Register Avatars are static because we wanted for them not to be 
affected by the top, bottom, left, and right properties */
.avatar {
    position: static;
    border-radius: 50%;    
}

/* The position of the forms in Login and Registered are set in the center of the page */
.center_form {
    display: block;
    text-align: center;
}

span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    font-weight: bold;
    margin: 3em;

}

details {
    flex: 10;
    display: flex;
    flex-direction: column;
    position:relative;
}


details summary{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    font-style: italic;
    cursor: pointer;
    
}

fieldset {
    min-width: 100%
}

fieldset ol li p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

fieldset ol li p label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    display: inline-block;

}

fieldset ul li p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

fieldset input {
    border: 3px solid #555;
}

/* #desk {
    float: right;
    text-align: center;
    margin-top: 26px;
    border-radius: 40px;
} */

fieldset {
    border-radius: 40px;
}

fieldset ul li p label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    display: inline-block;

}

#country {
    border-width: 3px;
    border-radius: 5px;
}

.submit {
    border-radius: 25px;
}

/* We created an ID for the courses which are offered for every category and used the class profile_picture
to combine the unirdered list and the picture. The last command is used for the  bullet points to be inside the list item 
and outside from the picture.  */
#offering li {
    font-size: 12pt;
    color: black;
    list-style-position: inside;
    
    
    
}


/* Responsive Images */

/* Making the main picture in index responsive */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 40px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

img {
    max-width: 100%;
}



/* CSS Grid */

/* Mobile Phones */
.grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 20fr 1fr;
    grid-template-areas: 
    'header'
    'menu'
    'aside'
    'main'
    /* 'aside' */
    'footer';
}

header {
    grid-area: header;
    /* grid-column: 1 / 4;
    grid-row: 1 / 2; */
}


.menu {
    grid-area: navbar;
    grid-row: 2 / 3;
    /* grid-column: 1 / 2;
    grid-row: 2 / 3; */
}

aside {
    grid-area: aside;
    /* grid-column: 3 / 4;
    grid-row: 2 / 3; */
}

main {
    grid-area: main;
    /* grid-column: 2 / 3;
    grid-row: 2 / 3; */
}

.column {
    flex: 100%;
    max-width: 100%;
}

footer {
  grid-area: footer;
  /* grid-column: 1 / 4;
  grid-row: 3 / 4; */
}

@media only screen and (max-width: 535px) {
    #desk{
        display: none;
    }
}


/* Tablet */
@media only screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.2fr 3.5fr 0.1fr;
        grid-template-areas: 
        'header header'
        'menu aside'
        'main main'
        'footer footer';
        justify-content: space-between;
    }
    
    .menu{
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    aside {
        width: 100%;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .column {
        flex: 100%;
        max-width: 100%;
      }
    
}

/* Desktop */

@media only screen and (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0.3fr 2fr 0.3fr;
        grid-template-rows: 0.2fr 10fr 0.1fr;
        grid-template-areas:
        'header header header'
        'navbar main aside'
        'footer footer footer';
        justify-content: space-between;
        /* gap: 10px; */
        /* background-color: rgb(255, 255, 255); */
        /* padding: 10px; */
    }

    header {
        /* grid-area: header; */
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    
    
    .menu {
        /* grid-area: navbar; */
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    aside {
        /* grid-area: aside; */
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    
    main {
        /* grid-area: main; */
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    footer {
      /* grid-area: footer; */
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }

    .column {
        flex: 100%;
        max-width: 100%;
      }
    
}

/* CSS Flexbox */
/* Flex area in the main menu bar where the menu bar is located. 
Menu bar concludes Home,About us,Contact us, Login,Register and a search bar. */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

/* Flex area inside the main menu bar be styled with borders. */
nav .flex-container > a{
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.2px;
    border-color: rgb(145, 145, 145);
  
}

/* Flex area in the courses' pages where each course is appeared as a flex box.Row wrap is used for
 wrapping the flex items onto multiple lines, from top to bottom */
.flex-container-courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-self: center;
}

/* Flex area with the details of each course, and the color of the border and the background one are specified. */
.flex-container-courses dl {
    width: 400px;
    border-style: outset;
    border-width: 0.2em;
    margin: 1em;
    padding: 1em;
    border-color: black;
    background-color: rgba(255, 166, 0, 0.527); 
}



/* Our fonts.
Source: https://fonts.google.com */
@font-face {
    font-family: 'myFont'; 
    src: url("../Assets/Petemoss-Regular.ttf");
}

@font-face {
    font-family: 'myFont2';
    src: url("../Assets/BarlowCondensed-Regular.ttf");
}