:root {
    --main-color: #f2f0ef;
    --main-head-color: rgb(176, 176, 252);
    --main-foot-color: rgb(151, 149, 149);
    
  }

  body {
    text-align: left;
    color: var(--main-color);
    display: grid;
    grid-template-columns: auto 15%;
    grid-template-rows: auto auto 80px ;
    grid-template-areas: "nav nav"
                         "main main"
                         "side-left side-right"
                         "footer footer";   
}

main {
    grid-area: main;
}
/* 
section {
    margin: 16px;
} */

.side-left {
    grid-area: side-left;
    display: flex;
    flex-direction: column;
}

.side-right {  
    grid-area: side-right;
    display: flex;
    flex-direction: column;
   
}

  .footerContainer {
    grid-area: footer;
    background-color: var(--main-foot-color);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

