:root {
    --main-color: #f2f0ef;
    --main-head-color: rgb(176, 176, 252);
    --main-foot-color: rgb(151, 149, 149);
    
  }
  .grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: var(--main-color);
    padding: 10px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
  }

  .item1 {
     grid-area: header;
     grid-column: 1/4;
     grid-row: 1/2;
           }
  .item2 {grid-area: menu; }
  .item3 {grid-area: main;}
  .item4 {
    grid-area: right;
    /* grid-column: 3/4;
    grid-row: 2/4; */
}
  .item5 {
    grid-area: footer;
    grid-column: 1/4;
    grid-row: 4/5;}

  
    
}