body {
    background-color: white;
    font: 12pt sans-serif;
}

header{
    height: 10em;
    width: 100%;
    background-color:white;
    /*position: fixed;*/
    
 
    
}

img:nth-of-type(1){
    top: 4em;
    right:-4em;
    /*color: black;*/
   

}

img:nth-of-type(2){
    max-width: 100%;
    height: auto;
    right:-40em;
   
}



h1{
    color: black;
  }



article{
    font-family: 10pt sans-serif;
}


